body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
  }
  
  .header {
    background-color: purple;
    padding: 20px;
  }
  
  .logo {
    color: orange;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin: right 0;
 }